<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand nav-name" href="#"><h4>Shubhra Prakash</h4></a>
        <button type="button" class="navbar-toggle collapsed toggle-button" id="showLeft" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <!--id added-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse navbar-right widscreen-nav" aria-expaded="false">
        <ul class="nav navbar-nav navbar-center">
          <li id="home-nav"><a class="hvr-underline-from-left" href="/" >HOME </a></li>
          <li id="film-nav"><a class="hvr-underline-from-left" href="/film">FILM</a></li>
          <li id="theater-nav"><a class="hvr-underline-from-left" href="/theater" >THEATER</a></li>
          <li id="music-nav" class="{{firstt}}"><a class="hvr-underline-from-left" href="/music" >MUSIC</a></li>
          <li id="code-nav"><a class="hvr-underline-from-left" href="/code">CODE</a></li>
          <li id="about-nav" class="{{first}}"><a class="hvr-underline-from-left" href="/about">ABOUT</a></li>
          <li><a class="hvr-underline-from-left" href="/about">CONTACT</a></li>
       </ul>
      </div><!-- / navbar widescreen -->
      <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mobile-nav" id="cbp-spmenu-s1" aria-expaded="false">
        <button type="button" class="navbar-toggle collapsed mobile-navbar-toggle" id="close-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <!--id added-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand nav-name">
          <a class="" href="#">
            <h4>Shubhra Prakash</h4>
          </a>
        </div>
    
          <ul class="nav navbar-nav navbar-center">
            <li id="home-nav" class="home-nav"><a class="animated fadeInDown" href="/" >HOME </a></li>
            <li id="film-nav" class="film-nav"><a class="" href="/film">FILM</a></li>
            <li id="theater-nav" class="theater-nav"><a class="" href="/theater" >THEATER</a></li>
            <li id="music-nav" class="music-nav {{firstt}}"><a class="" href="/music" >MUSIC</a></li>
            <li id="code-nav" class="code-nav"><a class="" href="/code">CODE</a></li>
            <li id="about-nav" class="about-nav {{first}}"><a class="" href="/about">ABOUT</a></li>
            <li id="contact-nav" class="contact-nav"><a class="" href="/about">CONTACT</a></li>
          </ul>
        
        <div class="about-info mobile-nav-about">        
          <div class="about-info-contact">
            <p class="role"> Web Developer, Film Maker, Theater Artist, Singer, Badass</p>
            <p class="location">44456 New Avenue, New York City, NY</p>
            <a href="email" class="">shubhraprakash@myemail.com</a>
          </div>
        </div>
      </div><!-- / navbar mobile -->
    </div><!-- /.container-fluid -->
  </div>
</nav>

<!-- class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1"-->


<!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="navbar-collapse collapse navbar-right"  id="bs-example-navbar-collapse-1"  aria-expaded="false">
        <ul class="nav navbar-nav navbar-center">
          <li id="home-nav"><a class="hvr-underline-from-left" href="/" >HOME </a></li>
          <li id="film-nav"><a class="hvr-underline-from-left" href="/film">FILM</a></li>
          <li id="theater-nav"><a class="hvr-underline-from-left" href="/theater" >THEATER</a></li>
          <li id="music-nav" class="{{firstt}}"><a class="hvr-underline-from-left" href="/music" >MUSIC</a></li>
          <li id="code-nav"><a class="hvr-underline-from-left" href="/code">CODE</a></li>
          <li id="about-nav" class="{{first}}"><a class="hvr-underline-from-left" href="/about">ABOUT</a></li>
          <li><a class="hvr-underline-from-left" href="/about">CONTACT</a></li>
       </ul>
      </div> --><!-- /.navbar-collapse -->